{
    "presets": ["@babel/preset-env"],
    "plugins": [
        "wildcard",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-proposal-optional-chaining",
        [
            "@babel/plugin-transform-runtime",
            {
                "regenerator": true,
                "corejs": 2
            }
        ]
    ]
}
